$header_bg: #181717;
$body_color: #5C5353;
$orange: #FF5500;
$bg_gray: #F8F4F4;
$tabs_bg: #EBE5E5;
$placeholder-color: #877777;
$footer_bg: #000;
$light-gray: #A3A3A3;
$contacts_bg-form: #100F0F;
$green: #59A809;
$landing-border: #BFAFAF;
$landing-bg-gallery: #312E2E;
$manheim-border: #ccc;
$gray-2: #585858;


$heading-font: 30px;
$heading-font-line-height: 35px;
$body_font: 17px;
$body_font-line-height: 20px;
$body_font-family: 'Roboto', sans-serif;